/* these are CSS Variables for a color scheme i generated on https://coolors.co/dabfff-907ad6-4f518c-2c2a4a-7fdeff */
:root {
    --primary: #DABFFF;
    --secondary: #907AD6;
    --font-light:#4F518C;
    --font-dark:#2C2A4A;
    --accent:#7FDEFF;
}
/* make everything have 0 margin and padding to make things more uniform and easier to edit */
*{
    margin: 0;
    padding: 0;
    /* change font family */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    /*set margins of sides of body */
    margin: 0 2rem 1rem 2rem;
    padding-top:2rem;
    /* set up main colors background and font */
    background-color: var(--primary);
    color: var(--font-dark);

}
/*set the page to be grid, this one is 3 column grid */
.page-wrapper {
    display:grid;
    gap:1rem;
    grid-template-columns: 1fr 2fr 1fr;
}
#zen-intro {
    padding: 0 1rem;
    background-color:var(--secondary);
}

/* change link default color, might change to a different variable later */
a:link {
    color:var(--font-dark);
}
/* when you click a link it will be the accent color */
a:active {
    color: var(--accent);
}
/* when you hover a link it is the dark color */
a:hover{
    color:var(--font-light);
}

/*color set after visiting a link */
a:visited{
    color:var(--font-dark);
}
/* center the header - i just like this centered */
header {
    text-align: center;
}
/*align the mini section headers and give them a bottom border to visually separate */
h3 {
    text-align:center;
    border-bottom:var(--font-dark) 1px solid;
}
/*it took me forever to find the correct thing to select, but gets rid of the dots on the list of designs */
.sidebar ul{
    list-style-type:none;
}

.sidebar{
    /*center text in the sidebar*/
    text-align: center;
    background-color: var(--secondary);
}

