/* these are CSS Variables for a color scheme i generated on https://coolors.co/dabfff-907ad6-4f518c-2c2a4a-7fdeff */
:root {
    --primary: #DABFFF;
    --secondary: #907AD6;
    --font-light:#4F518C;
    --font-dark:#2C2A4A;
    --accent:#7FDEFF;
}
/* make everything have 0 margin and padding to make things more uniform and easier to edit */
*{
    margin: 0;
    padding: 0;
}

body{
    /*set margins of sides of body */
    margin: 0 4rem 0 4rem;
    /* set up main colors background and font */
    background-color: var(--primary);
    color: var(--font-dark);
}
/* change link default color, might change to a different variable later */
a:link {
    color:var(--secondary);
}
/* when you click a link it will be the accent color */
a:active {
    color: var(--accent);
}
/* when you hover a link it is the dark color */
a:hover{
    color:var(--font-light);
}

/*color set after visiting a link */
a:visited{
    color:var(--secondary);
}
/* center the h1 'css zen garden, i just like this centered */
h1 {
    text-align: center;
}